<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/main.css"/>
    <title>Document</title>
</head>
<body>
    <h1> Get a single Product <%=product.image%> </h1>
    <form action="/products/update/<%=product._id%>" method="POST" enctype="multipart">
    <label> Title </label>
    <input type="text" name="title" value=<%=product.title%> />
    <br>
    <br>
    <label> Price </label>
    <input type="text" name="price" value=<%=product.price%> />
    <br>
    <br>
    <label> Image </label>
    <input type="file" name="image" />
    <br>
    <br>
    <input type="submit" value="Edit"/>
    </form>
</body>
</html>